/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C800");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.45;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: auto;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

/*  GROUPING WRAPPER  */
.row {
  *zoom: 1;
  padding: 0px;
  margin: 0px;
}
.row:after, .row:before {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row:first-child {
  margin-left: 0;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0;
}
.col + .col {
  margin-left: 1.6%;
}

/*  GRID OF TWELVE  */
.col-12-12 {
  width: 100%;
}

.col-11-12 {
  width: 91.53%;
}

.col-10-12 {
  width: 83.06%;
}

.col-9-12 {
  width: 74.6%;
}

.col-8-12 {
  width: 66.13%;
}

.col-7-12 {
  width: 57.66%;
}

.col-6-12 {
  width: 49.2%;
}

.col-5-12 {
  width: 40.73%;
}

.col-4-12 {
  width: 32.26%;
}

.col-3-12 {
  width: 23.8%;
}

.col-2-12 {
  width: 15.33%;
}

.col-1-12 {
  width: 6.866%;
}

@media only screen and (max-width: 480px) {
  /*  GO FULL WIDTH BELOW THE BREAKPOINT PIXES */
  .col-1-12, .col-2-12, .col-3-12, .col-4-12, .col-5-12, .col-6-12, .col-7-12, .col-8-12, .col-9-12, .col-10-12, .col-11-12, .col-12-12 {
    width: 100%;
    margin: 1% 0 1% 0%;
  }

  .form input {
    width: 100%;
    margin-bottom: .5em;
  }
  .form input[type="checkbox"] {
    display: inline-block;
    margin: 1.6%;
    width: auto;
  }
  .form button {
    display: block;
  }
  .form .aligned label {
    width: 100%;
    text-align: left;
  }
  .form .aligned .checkbox {
    margin-left: 0;
    width: 100%;
  }
  .form .aligned + button {
    margin-left: 0 !important;
  }
  .form.grouped input {
    margin-bottom: 0;
  }
  .form.grouped button {
    width: 100%;
  }

  .button {
    margin-top: 1.6%;
  }

  textarea {
    width: 100%;
  }
}
.button {
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  color: #434343;
  background: #E6E6E6;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  line-height: normal;
  white-space: nowrap;
  border: none;
}
.button:hover {
  background: #c6c6c6;
}
.button::active {
  background: #fff;
  box-shadow: none;
}

.button.disabled {
  background: #ebe9e9;
  color: #969696;
  cursor: not-allowed;
}

.button.primary {
  background: #00b2ff;
  color: #fff;
}
.button.primary:hover {
  background: #53C9FC;
}

.button.info {
  background: #BDE5F8;
  color: #00529B;
}
.button.info:hover {
  background: #32A5D8;
}

.button.success {
  background: #DFF2BF;
  color: #4F8A10;
}
.button.success:hover {
  background: #9FD04D;
}

.button.warning {
  background: #FEEFB3;
  color: #9F6000;
}
.button.warning:hover {
  background: #F9D854;
}

.button.error {
  background: #FFBABA;
  color: #D8000C;
}
.button.error:hover {
  background: #EA6969;
}

.button.x-small {
  font-size: 70%;
}

.button.small {
  font-size: 85%;
}

.button.regular {
  font-size: 100%;
}

.button.large {
  font-size: 110%;
}

.button.x-large {
  font-size: 125%;
}

.button.rounded,
button.rounded {
  border-radius: 30px;
}

.form {
  padding: 1% 0;
}
.form input, .form select, .form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  background: none;
}
.form input[type="checkbox"] {
  border: none;
  box-shadow: none;
  padding: 0;
}
.form label {
  margin: .3% 0;
}
.form.stacked input[type="checkbox"] {
  display: inline-block;
}
.form.stacked input, .form.stacked select, .form.stacked textarea, .form.stacked .button {
  display: block;
}
.form .aligned {
  margin-bottom: .5em;
  display: block;
}
.form .aligned label {
  display: inline-block;
  width: 10em;
  text-align: right;
}
.form .aligned .checkbox {
  width: auto;
  margin-left: 10em;
}
.form .aligned + .button {
  margin-left: 10em;
}
.form.grouped input {
  display: block;
}
.form.grouped input:not(:first-of-type) {
  border-radius: 0;
}
.form.grouped input:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form.grouped input:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: .5em;
}
.form.grouped .button {
  display: block;
  margin-top: .5em;
}
.form input[disabled] {
  background: #dbdbdb;
}
.form input[readonly] {
  background: #f1f1f1;
}

fieldset {
  border: none;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: .5em;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form input.col-1-12,
.form input.col-2-12,
.form input.col-3-12,
.form input.col-4-12,
.form input.col-5-12,
.form input.col-6-12,
.form input.col-7-12,
.form input.col-8-12,
.form input.col-9-12,
.form input.col-10-12,
.form input.col-11-12,
.form .input.col-12-12 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  border-bottom: 1px solid #eee;
  margin: .5em 0;
}

small {
  font-size: 65%;
  margin-left: .5em;
  color: #777;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h3 small, h4 small, h5 small {
  font-size: 75%;
}

.lead {
  font-weight: 300;
  font-size: 21px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.list-unstyled {
  list-style: none;
}

table, .table {
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #a8a8a8;
}
table thead, .table thead {
  background: #e0dfdf;
  color: #000;
}
table tbody, .table tbody {
  color: #747474;
}
table td, table th, .table td, .table th {
  padding: .5em 1em;
  border-right: 1px solid #a8a8a8;
}
table.bordered td, .table.bordered td {
  border-left: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}
table.horizontal thead, .table.horizontal thead {
  border-bottom: 1px solid #a8a8a8;
}
table.horizontal thead th, .table.horizontal thead th {
  border-right: none;
}
table.horizontal td, .table.horizontal td {
  border-bottom: 1px solid #a8a8a8;
  border-right: none;
}
table.striped tbody tr:nth-child(odd),
table.striped .odd-table, .table.striped tbody tr:nth-child(odd),
.table.striped .odd-table {
  background: #f2f2f2;
}

.menu {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
.menu li {
  list-style: none;
  text-align: left;
  height: 100%;
}
.menu li a {
  display: block;
  padding: .5em 1.2em;
  text-decoration: none;
  color: #4f4f4f;
  border-radius: 3px;
}
.menu li a:hover {
  background: #e0dfdf;
}
.menu li.disabled {
  color: #b6b6b6;
}
.menu li.disabled:hover {
  background: none;
}
.menu li.dropdown-parrent {
  position: relative;
}
.menu li.dropdown-parrent > a {
  margin-right: 0;
  padding-right: 0;
}
.menu li.dropdown-parrent > a:after {
  content: "\25BE";
  padding-left: .8em;
  margin-right: .4em;
}
.menu.horizontal li {
  display: inline-block;
}
.menu.vertical .dropdown-parrent:hover > .dropdown,
.menu.vertical .dropdown-parrent:active > .dropdown,
.menu.vertical .dropdown-parrent:focus > .dropdown,
.menu.vertical .dropdown-parrent a:hover + .dropdown {
  left: 99%;
  top: 0;
}
.menu.vertical .dropdown-parrent > a:after {
  content: "\25b8";
}

.menu .dropdown-parrent:hover > .dropdown,
.menu .dropdown-parrent:active > .dropdown,
.menu .dropdown-parrent:focus > .dropdown,
.menu .dropdown-parrent > a:hover + .dropdown {
  display: block;
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  left: 0;
  z-index: 999;
}

.menu .dropdown {
  display: none;
}
.menu .dropdown:hover {
  display: block;
}
.menu .dropdown li {
  display: block;
  position: relative;
}
.menu .dropdown li.dropdown-parrent > a:after {
  content: "\25b8";
}
.menu .dropdown li:hover > .dropdown {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.img-rounded {
  border-radius: 30px;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
