@import 'utils/normalize';
@import 'utils/clearfix';
@import 'utils/web-fonts';

//Call Google Web Font function
@include web-fonts(("#{$main-font}": ("300", "400", "800")));

html{
    font-family: $main-font;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: normal;
    font-style: normal;
}
