// Main font
$main-font: Oswald;
// Default font size
$font-size: 16px;

// Default margin size between the grid containers
$main-margin: 1.6%;

// Default breakpoint for the media query
$breakpoint: 480px;

// Default primary button color
$main-color: #00b2ff;
$main-color-hover: #53C9FC;
$main-text-color: #fff;
