.button {
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    color: #434343;
    background: #E6E6E6;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    line-height: normal;
    white-space: nowrap;
    border: none;

    &:hover{
        background: #c6c6c6;
    }
    &::active{
        background: #fff;
        box-shadow: none;
    }
}

.button.disabled{
    background: #ebe9e9;
    color: #969696;
    cursor: not-allowed;
}

.button.primary{
    background: $button-color;
    color: $button-text-color;
    &:hover{
        background: $button-color-hover;
    }
}

.button.info{
    background: $button-info;
    color: $button-info-text;
    &:hover{
         background: $button-info-hover;
    }
}

.button.success{
    background: $button-success;
    color: $button-success-text;
    &:hover{
        background: $button-success-hover;
    }
}

.button.warning{
    background: $button-warning;
    color: $button-warning-text;
    &:hover{
        background: $button-warning-hover;
    }
}

.button.error{
    background: $button-error;
    color: $button-error-text;
    &:hover {
        background: $button-error-hover;
    }
}

.button.x-small { font-size: 70% }
.button.small   { font-size: 85% }
.button.regular { font-size: 100% }
.button.large   { font-size: 110% }
.button.x-large { font-size: 125% }

.button,
button {
    &.rounded {
        border-radius: 30px;
    }
}
