
.container {
    width: auto;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid { width: 100% }

/*  GROUPING WRAPPER  */
.row {
    @include clearfix;
    padding: 0px;
    margin: 0px;
    &:first-child {
        margin-left: 0;
    }
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 0;
    + .col {
        margin-left: $main-margin;
    }
}

/*  GRID OF TWELVE  */
.col-12 { width: 100%   }
.col-11 { width: 91.53% }
.col-10 { width: 83.06% }
.col-9  { width: 74.6%  }
.col-8  { width: 66.13% }
.col-7  { width: 57.66% }
.col-6  { width: 49.2%  }
.col-5  { width: 40.73% }
.col-4  { width: 32.26% }
.col-3  { width: 23.8%  }
.col-2  { width: 15.33% }
.col-1  { width: 6.866% }

// OFFSETS

.offset-12 { margin-left: 100% }
.offset-11 { margin-left: 91.53% + $main-margin !important }
.offset-10 { margin-left: 83.06% + $main-margin !important }
.offset-9  { margin-left: 74.6%  + $main-margin !important }
.offset-8  { margin-left: 66.13% + $main-margin !important }
.offset-7  { margin-left: 57.66% + $main-margin !important }
.offset-6  { margin-left: 49.2%  + $main-margin !important }
.offset-5  { margin-left: 40.73% + $main-margin !important }
.offset-4  { margin-left: 32.26% + $main-margin !important }
.offset-3  { margin-left: 23.8%  + $main-margin !important }
.offset-2  { margin-left: 15.33% + $main-margin !important }
.offset-1  { margin-left: 6.866% + $main-margin !important }




