.img-rounded { border-radius: $rounded-borders }
.img-circle { border-radius: 50% }

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    @include border-box;
}
