@media only screen and (max-width: $breakpoint) {

/*  GO FULL WIDTH BELOW THE BREAKPOINT PIXES */
     .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
        margin: 1% 0 1% 0%;
    }

    .col + .col { margin-left: 0 }

    .form {
        & input{
            width: 100%;
            margin-bottom: .5em;
        }

        & input[type="checkbox"] {
            display: inline-block;
            margin: $main-margin;
            width: auto;
        }
        & button {
            display: block;
        }

        // Aligned Form
        & .aligned label{
           width: 100%;
           text-align: left;
        }

        & .aligned .checkbox {
            margin-left: 0;
            width: 100%;
        }

        & .aligned + button {
            margin-left: 0 !important;
        }

        &.grouped {
            input {
                margin-bottom: 0;
            }
            button {
                width: 100%;
            }
        }
    }

    .button{
        margin-top: $main-margin;
    }
    textarea {
        width: 100%;
    }
}
