table, .table {
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid $table-border;

    thead {
        background: $table-head-color;
        color: $table-head-text;
    }

    tbody { color: $table-body-text }

    td, th {
        padding: .5em 1em;
        border-right: 1px solid $table-border;
    }

    &.bordered {
        td {
            border-left: 1px solid $table-border;
            border-right: 1px solid $table-border;
            border-bottom: 1px solid $table-border;
        }
    }

    &.horizontal {
        thead {
            border-bottom: 1px solid $table-border;

            th { border-right: none }
        }

        td {
            border-bottom: 1px solid $table-border;
            border-right: none;
        }
    }

    &.striped {
        tbody tr:nth-child(odd),
        .odd-table{
            background: $table-striped-color;
        }
    }
}

