table, .table {
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #a8a8a8;

    thead {
        background: #e0dfdf;
        color: #000;
    }

    tbody {
        color: #747474;
    }

    td, th {
        padding: .5em 1em;
        border-right: 1px solid #a8a8a8;
    }

    &.bordered {
        td {
            border-left: 1px solid #a8a8a8;
            border-right: 1px solid #a8a8a8;
            border-bottom: 1px solid #a8a8a8;
        }
    }

    &.horizontal {
        thead {
            border-bottom: 1px solid #a8a8a8;

            th { border-right: none }
        }

        td {
            border-bottom: 1px solid #a8a8a8;
            border-right: none;
        }
    }

    &.striped {
        tbody tr:nth-child(odd),
        .odd-table{
            background: #f2f2f2;
        }
    }

    // Support for old browsers

}

