@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'clearfix';
@import 'web-fonts';
@import 'colors';

//Call Google Web Font function
@include web-fonts(("#{$main-font}": ("300", "400", "800")));

body {
    font-family: $main-font;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: normal;
    font-style: normal;
}
