// Monochromatic Color Pallete
// Associations With Monochromatic - Power, Elegance, Space, Softness, Heaven, Peace, Innocence, Pessimism, Depression, Boredom

$imdur: #f6f6f6;
$wool-white: #e8e8e8;
$grr-eyby: #333;
$schizophreniaby: #990100;
$disconnectby: #b90504;


// Influenza Collor Pallete
// Associations with Influenza - Wealth, Royalty, Nobility, Sophistication, Romance, Artificial, Exotic, Spirituality, Luxury, Feminine

$fall-for: #300030;
$click: #480048;
$bitch-goddess: #601848;
$lovey: #c04848;
$orange-red: #f07241;

// Charcoal Barbecue Collor Pallete
// Associations With Charcoal - Blood, War, Fire, Masculinity, Passion, Seduction, Anger, Force, Energy, Courage

$whisper: #383636;
$coco-chrisp: #806f66;
$nearly-white: #fff2bc;
$cindercoal: #ff5a0b;
$red: #ff0000
