// Main font
$main-font: Roboto;
// Font size
$font-size: 16px;

$line-height: 1.45;

// Font Weight
$font-light: 300;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-ultrabold: 900;

// Default margin size between the grid containers
$main-margin: 1.6%;

// Default breakpoint for the media query
$breakpoint: 480px;

// Images
$rounded-borders: 30px;

// Button colors

// Default primary button color
$button-color: #00b2ff;
$button-color-hover: #53C9FC;
$button-text-color: #fff;
$dark-color: #eee;

$button-info: #BDE5F8;
$button-info-text: #00529B;
$button-info-hover: #32A5D8;

$button-success: #DFF2BF;
$button-success-text: #4F8A10;
$button-success-hover: #9FD04D;

$button-warning: #FEEFB3;
$button-warning-text: #9F6000;
$button-warning-hover: #F9D854;

$button-error: #FFBABA;
$button-error-text: #D8000C;
$button-error-hover: #EA6969;


// Tables

$table-border: #a8a8a8;
$table-head-color: #e0dfdf;
$table-head-text: #000;

$table-body-text: #747474;

$table-striped-color: #f2f2f2;
