// Main font
$main-font: Roboto;
// Font size
$font-size: 16px;

$line-height: 1.45;

// Font Weight
$font-light: 300;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-ultrabold: 900;

// Default margin size between the grid containers
$main-margin: 1.6%;

// Default breakpoint for the media query
$breakpoint: 480px;

// Default primary button color
$main-color: #00b2ff;
$main-color-hover: #53C9FC;
$main-text-color: #fff;
$dark-color: #eee;


